<!--
  Created on 4/16/2018  
  Author: zhangliang
  Description: 支付辅助页面    
 -->

<%- include ../common/htmlhead.ejs %>

<!-- 引入自己写的css-->

<%- include ../common/htmlneck.ejs %>

<!-- 写入自己的div页面-->
<!-- BEGIN FORM-->
<div id="dv-payhelp-hidden" hidden></div>
<!-- END FORM-->

<%- include ../common/pagefooter.ejs %>

<!-- 引入自己的js-->
<script src="/javascripts/pay/payhelp.js" type="text/javascript"></script>

<%- include ../common/htmlfooter.ejs %>
