<!--
Created on 3/15/2018
Author: zhangliang
Description: systeminfo.ejs
-->

<%- include ../common/htmlhead.ejs %>

<!-- 引入自己写的css-->

<%- include ../common/htmlneck.ejs %>

<!-- 写入自己的div页面-->
<div>systeminfo</div>

<%- include ../common/pagefooter.ejs %>

<!-- 引入自己的js-->

<%- include ../common/htmlfooter.ejs %>
