<!--
  Created on 3/16/2018  
  Author: zhangliang
  Description: usermanage.ejs    
 -->
<%- include ../common/htmlhead.ejs %>

<!-- 引入自己写的css-->
<link rel="stylesheet" href="/assets/global/plugins/datatables/datatables.css">

<%- include ../common/htmlneck.ejs %>

<!-- 写入自己的div页面-->
<div>
    <h1>这是usermanager.ejs</h1>
</div>

<%- include ../common/pagefooter.ejs %>

<!-- 引入自己的js-->
<!-- datatables的js-->
<script src="/assets/global/plugins/datatables/datatables.js" type="text/javascript"></script>
<!-- 自己的js-->
<script src="/javascripts/demo/template.js" type="text/javascript"></script>

<%- include ../common/htmlfooter.ejs %>